


body {
	height: 2000px;
	animation: BackGrndChange 5s infinite alternate ;
	-webkit-animation: BackGrndChange 5s infinite alternate;
	background-image: url('https://svgshare.com/i/Daj.svg');
	background-repeat: no-repeat;
	background-size: 100% 15%;
	font-family: 'nhg display', sans-serif, 'Apple Color Emoji','Segoe UI Emoji','NotoColorEmoji','Segoe UI Symbol','Android Emoji','EmojiSymbols';
	color: hsla(0,0%,100%,.8);
	
}

@keyframes BackGrndChange {
	0% { background-color: #A0A0A0; }
	10% { background-color: #989898; }
	20% { background-color: #909090; }
	30% { background-color: #888888; }
	40% { background-color: #808080; }
	50% { background-color: #787878; }
	60% { background-color: #707070; }
	70% { background-color: #696969; }
	80% { background-color: #686868; }
	90% { background-color: #606060; }
	100% { background-color: #585858; }
}

@-webkit-keyframes BackGrndChange {
	0% { background-color: #A0A0A0; }
	10% { background-color: #989898; }
	20% { background-color: #909090; }
	30% { background-color: #888888; }
	40% { background-color: #808080; }
	50% { background-color: #787878; }
	60% { background-color: #707070; }
	70% { background-color: #696969; }
	80% { background-color: #686868; }
	90% { background-color: #606060; }
	100% { background-color: #585858; }
}

/* The sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #2e2e2e;
	animation: BackGrndChnge 5s infinite alternate;
	-webkit-animation: BackGrndChnge 5s infinite alternate;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: hsla(0,0%,100%,.8);
	display: block;
	transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: hsla(0,0%,100%,.8);

}

/* The button used to open the sidebar */
.openbtn {
	font-size: 20px;
	background-color: transparent;
	color: hsla(0,0%,100%,.8);
	padding: 10px 15px;
	border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}
