@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


body {
	animation: BackGrndChange 5s infinite alternate;
	-webkit-animation: BackGrndChange 5s infinite alternate;
	height: 2000px;
	background-image: url('https://svgshare.com/i/Daj.svg');
	background-repeat: no-repeat;
	background-size: 1920px 325px;
	margin: 0;
	font-family: 'nhg display', sans-serif, 'Apple Color Emoji','Segoe UI Emoji','NotoColorEmoji','Segoe UI Symbol','Android Emoji','EmojiSymbols';
	color: hsla(0,0%,100%,.8);
	
}



